<div>
  <h1 mat-dialog-title>Iniciar sesión</h1>
  <div mat-dialog-content>
    <form class="form-horizontal form-material"
          [formGroup]="loginForm" autocomplete="off">
      <div class="form-group m-t-40">
        <div class="col-xs-12">
          <input class="form-control m-2" type="text" formControlName="name"
                 placeholder="Nombre">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <input class="form-control m-2" type="password" formControlName="password"
                 placeholder="Contraseña">
        </div>
      </div>
      <div class="row">
        <div class="col text-danger m-2">
          <p *ngIf="fieldNoValid('name')">El nombre es obligatorio</p>
          <p *ngIf="fieldNoValid('password')">La contraseña es obligatoria</p>
          <p *ngIf="loginError">Usuario incorrecto</p>
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions class="login__dialog__actions">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="login()">Entrar</button>
  </div>
</div>
