<app-loading [waiting]="loading"></app-loading>
<section *ngIf="!loading" class="products__content">
  <div class="products__columns--settings">
    <mat-icon (click)="changeSettingsTable()">settings</mat-icon>
  </div>
  <div class="products__table">
    <table class="table table-striped">
      <thead>
        <tr>
          <th *ngFor="let n of columnsToShow">{{n[0]}}</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of productsToShow">
          <td *ngFor="let name of columnsToShow">
            <div *ngFor="let attribute of item">
              <span *ngIf="attribute[0] === name[1]">{{attribute[1]}}</span>
            </div>
          </td>
          <td class="table__acctions">
            <a (click)="deleteProduct(item)">
              <mat-icon color="warn">delete_outline</mat-icon>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <mat-paginator #paginator
                   [length]="this.products.length"
                   (page)="getPagesMovies($event)"
                   [showFirstLastButtons]="true"
                   [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</section>
<app-footer class="products__footer"></app-footer>
