<nav class="navbar bg-body-tertiary">
  <div class="container navbar__container">
    <div class="navbar__container__logo">
      <img alt="Logo" src="../../../assets/images/logo_mercadona_240_240.webp" height="40" width="40"/>
      <h2 class="container__logo__text">Mercadona</h2>
    </div>
    <div *ngIf="!name">
      <button class="container__login__button" (click)="login()">Iniciar sesión</button>
    </div>
    <div *ngIf="name">
      <p class="container__login__text">{{name}}
        <mat-icon (click)="logout()">exit_to_app</mat-icon>
      </p>
    </div>
  </div>
</nav>
